/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}

$color-main:#2c3e50;
$font-family:sans-serif;
$font-text:'Roboto', sans-serif;
$font-header:'Tiro Bangla', serif;
body{
    font-family: $font-family;
    margin:0;
    text-align: center;
    background:#fff;
    color:#3d3d3d;
    font-size: 16px;
 
}

.container {
    max-width: 1140px;
    margin:0 auto;
    padding:0 20px;
    
}

section{
    padding: 96px 0;
}

/*New navbar*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    color: rgb(0, 0, 0);
}

.brand-title{
    font-size: 24px;
    margin: 8px;
    font-family: $font-family;
}

.navbar-links ul {
    margin:0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 16px;
    display: block;
    font-size: 24px;
}
.navbar-links li:hover{
    background-color: #555;
}





.toggler{
    position: absolute;
    top:12px;
    right:16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggler .bar{
    height:3px;
    width:100%;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
}

/* Splash */
.splash{
    min-height:500px;
    display:flex;

   // height:100vh;
   // position:relative;
   background-image: url('https://i.postimg.cc/fLXXBgTp/pexels-sam-kolder-2387873.jpg');
    background-position: 20% 40%;
   background-size:cover;
   // background-attachment:fixed;
}


/* to ponizej daje na srodku napis srodek splash jest wycentrowany */
.splash-inner{
    //position:absolute;
    //width:100%;
    //top:50%;
    //left:50%;
    //transform:translate(-50%,-50%);
    margin: auto;
    max-width:70%;  
}
    
.splash i {
    font-size: 45px;
    background:$color-main;
    width:60px;
    height:60px;
    line-height: 60px;
    color: #fff;
    border-radius:50%;
        
}
    
.page-title{
    color:#fff;
    font-size:45px;
    margin: 48px 0 0 0;
    position:relative;
    font-family:$font-header;
    font-weight:10;
    background:rgba(0, 0, 0, 0.2);
    word-spacing: 5px;
}

/* dekoracja podkreslenie*/
.page-title::after {
        
    position: absolute;
    content: '';
    bottom: -24px;
    left: 50%;
    width: 80%;
    height: 4px;
    transform: translateX(-50%);
    background:$color-main;
}
        
.page-subtitle {
    color: #fff;
    margin: 48px 0 0 0;
    font-family:$font-family;
    font-weight:10;
    font-style: italic; 
}

/* Intro */
.intro {
    background:#fff;   
}

.intro  span{
    color: green;

}

.intro  a {
    color:green;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);

}
            
.intro  p {
    width:70%;
    margin:0 auto;
    padding:48px 0;
    font-size:24px;
    border-top: 1px solid $color-main;
    border-bottom: 1px solid $color-main;
    font-family:$font-family;
    font-weight:4;
    font-style:italic;
}
            
.section-title{
    position:relative;
    font-size:36px;
    margin: 0 0 60px 0;
    font-family: $font-header;
    font-weight:900;   
}
        
.section-title::after{
    position: absolute;
    content: '';
    bottom: -24px;
    left: 50%;
    width: 50px;
    height: 4px;
    transform: translateX(-50%);
    background:$color-main;
    word-spacing: 5px;
    bottom:-12px;
            
}
            
/* About */
.about {
    background:#f0f0f0;
    color: #3d3d3d;
}

.about p {
    font-style: italic;
    line-height: 25px;
}


.about img{
    height: 200px;
}



/*my skillzz*/
               
.skill-image{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.skill-item{
    align-items: center;
}
.one{
    scale:90%;
}

/*buttons*/

.btn{
    display: inline-block;
    min-width:160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Inconsolata', 'sans-serif';
    font-size:24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 0.5s;
}
.btn-one{
    border-color:black;
    color:white;
    background-image: linear-gradient(90deg, #fff 50%, transparent 50%);  
}
.btn-one:hover{
    background-position: 0 100%;
    color: #000;
}



/*NAVIGATION*/


/*Hobbies*/
.hobbies-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.hobbies{
    flex: 0 0 33.333%;
}

.title{
    font-size:24px;
    margin: 0 0 12px 0 ;
}

.description{
    height:130px;
    line-height:30px;
    padding:10px;
    text-align: justify;
}

.fa-solid {
    font-size:50px;
}

/*footer*/

.page-footer{
    background-color: lightgray;
}

.footer-list{
    list-style-type: none;

}

.footer-list li {
    display: inline-block;
    font-size: 12px;
}

/*portfolio*/

.work-wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.my-work{
    display: flex;
    flex: 0 0 50%;
    padding: 15px;
}
.portfolio-image {
    display: flex;
    flex: 0 0 50%;
    position: relative;
    margin-right:  25px;
    min-height: 300px;
}

.portfolio-image img{
    display: flex;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    max-width: 250px;
}

.portfolio-image:hover img{
    color: white;
    opacity: 0.3;
    transform: scale(0.8, 0.8); 
    transition: all 0.40s;
}


@media (max-width: 767px) {
    .skill-image {
        flex-direction:column;
    }
    .hobbies-wrapper{
        flex-direction:column;
        }
    .my-work {
    max-width: 100%;
    max-height: 350px;
    }
    .work-wrapper{
        flex-direction: column;
    }

    .toggler{
        display: flex;
    }
    .navbar-links{
        display: none;
        width:100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        width:100%;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding:8px 16px;
        font-size: 16px;
    }
    .navbar-links.active{
        display: flex;
    }
    .page-footer{
        width:100%;
    }
    .splash{
        height:100vh;
        position:relative;
        background-image: url('https://i.postimg.cc/fLXXBgTp/pexels-sam-kolder-2387873.jpg');
        background-position: 10% 30%;
        background-size:cover;
        background-attachment:fixed;
        color:black;
    }
 

}